body {
    background-color: aqua;
}

h1 {
    text-align: center;
    font-size: 2em;
}

form {
    text-align: center;
    margin: 25px;
}

.full-card {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.card-img-top {
    max-height: 250px;
}

.even {
    background-color: lightyellow;
}

.odd {
    background-color: lightblue;
}

.give-border {
    border: dotted black;
}

.row {
    display:flex;
    justify-content: center;
}

.