body {
    background-color: aqua;
}

#card-div {
    display: flex;
    flex-direction: row;
}

.odd {
    background-color: yellow;
}

.even {
    background-color: lightblue;
}

.give-border {
    border: dotted black;
}